<div class="card-last-lesson">
  <p-card>
    <h3 class="card-last-lesson-title">Vuelve donde lo dejaste</h3>
    <p class="card-last-lesson-subtitle">
      {{ lastLesson.trimester }}º Trimestre - Sesión {{ lastLesson.id }},
      {{ lastLesson.name }}
    </p>

    <div class="pt-1">
      <p-button
        label="Reproducción ordenada"
        icon="pi pi-play"
        class="mr-3"
        (click)="handleSidebar(true)"
      ></p-button>
      <button
        pButton
        pRipple
        type="button"
        label="Aleatorio"
        class="p-button-outlined mr-3 mt-2"
        icon="pi pi-align-center"
        (click)="handleRandomLesson($event)"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Siguiente sesión"
        class="p-button-outlined mr-3 mt-2"
        icon="pi pi-arrow-right"
        (click)="handleNextLesson($event)"
      ></button>
    </div>
  </p-card>
</div>
