<div class="bf-starting p-5">
  <h3 class="bf-starting-title">Antes de empezar...</h3>
<!-- TODO: Se podría refactorizar con un *ngFor -->
  <div class="row justify-content-center">
    <!-- Volume -->
    <div class="bf-starting-step col-3 pb-5">
      <div class="bf-starting-step-icon">
        <i class="pi pi-volume-up"></i>
      </div>
      <p class="bf-starting-step-text">
        Asegúrate de tener el
        <span class="font-weight-bold">volumen activado</span>
      </p>
    </div>
    <!-- Time -->
    <div class="bf-starting-step col-3 pb-5">
      <div class="bf-starting-step-icon">
        <i class="pi pi-clock"></i>
      </div>
      <p class="bf-starting-step-text">
        Los bits pasan automáticamente
        <span class="font-weight-bold">cada 2 segundos</span>
      </p>
    </div>
    <!-- Pause -->
    <div class="bf-starting-step col-3 pb-5">
      <div class="bf-starting-step-icon">
        <i class="pi pi-pause"></i>
      </div>
      <p class="bf-starting-step-text">
        Puedes detener el pase con la
        <span class="font-weight-bold">barra espaciadora</span> o haciendo
        <span class="font-weight-bold">click en la pantalla.</span>
      </p>
    </div>
  </div>
</div>
