<div class="px-5 pt-5 session-list">
  <i
    class="pi pi-arrow-left"
    style="font-size: 1.2rem; color: #4f4f4f; cursor: pointer"
    [routerLink]="['/home']"
  >
    <span class="session-list__btn-back pl-2 pb-2">Atrás</span>
  </i>

  <div class="d-flex pt-4">
    <div class="d-flex session-list__card-syllabus">
      <p-card *ngIf="session && chartData" class="pb-4 pr-4">
        <app-syllabus-card
          [session]="session"
          [chartData]="chartData"
        ></app-syllabus-card>
      </p-card>
    </div>

    <div *ngIf="session" class="session-list__listbox">
      <p-listbox
        [options]="session.lessons"
        [(ngModel)]="lessonId"
        optionLabel="name"
        optionValue="id"
      >
        <p-header
          class="col d-flex align-items-center justify-content-between"
          style="height: 54px"
        >
          <div class="session-list__listbox-title">
            Sesiones del {{ session.name }}
          </div>

          <div
            class="session-list__listbox-badge d-flex align-items-center justify-content-center"
          >
            {{ session.done }} / {{ session.lessons.length }}
          </div>
        </p-header>
        <ng-template let-lesson let-i="index" pTemplate="item">
          <div
            [ngClass]="{ 'bg-orange text-white': lessonId === lesson.id }"
            class="w-100 d-flex align-items-center"
            style="height: 54px"
          >
            <div class="session-list__listbox-item col d-flex">
              <div class="col-1 d-flex align-items-center">
                <b>{{ lesson.id }}</b>
              </div>

              <div class="col d-flex align-items-center">
                {{ lesson.name }}
              </div>

              <div class="d-flex align-items-center justify-content-end">
                <i
                  *ngIf="lesson.completed && lessonId !== lesson.id"
                  class="pi pi-eye d-flex align-items-center justify-content-center mx-2"
                ></i>
                <i
                  *ngIf="!lesson.completed && lessonId !== lesson.id"
                  class="pi pi-eye-slash d-flex align-items-center justify-content-center text-muted mx-2"
                ></i>
                <i
                  *ngIf="user.random && lessonId === lesson.id"
                  class="fas fa-random d-flex align-items-center justify-content-center mx-2"
                ></i>
                <i
                  *ngIf="lessonId === lesson.id"
                  class="pi pi-play bg-white color-orange d-flex align-items-center justify-content-center mx-2"
                  style="width: 40px; height: 40px; border-radius: 5px"
                  (click)="toggleSidebar(true)"
                ></i>
              </div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
  </div>
</div>

<!-- Before starting sidebar -->
<p-sidebar
  [(visible)]="visibleSidebar"
  [fullScreen]="true"
  [showCloseIcon]="false"
  [baseZIndex]="10000"
>
  <app-before-starting></app-before-starting>

  <div class="d-flex justify-content-center pb-5">
    <p-button
      label="Empezar pase"
      icon="pi pi-play"
      class="btn-save"
      styleClass="w-100 p-button-lg"
      (click)="playLesson($event)"
    ></p-button>
  </div>
</p-sidebar>

<p-toast></p-toast>
