// Prime

:host ::ng-deep.p-button.p-button-lg {
  width: 213px;
  height: 50px;
}

// Custom

.flex-column-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #3b3b3b;
}

.main-module {
  &__syllabus-title {
    @extend .font;
    font-family: "Poppins";
    font-size: 24px;
  }
}
