<div class="px-5 pt-5 main-module">
  <!-- Last session -->
  <app-last-lesson
    [lastLesson]="lastLesson"
    (toggleSidebar)="toggleSidebar($event)"
    (randomLesson)="randomLesson($event)"
    (nextLesson)="nextLesson($event)"
  ></app-last-lesson>
  <!-- Syllabus cards -->
  <div class="pt-5">
    <h3 class="syllabus-title">Temario</h3>
    <app-syllabus-card
      [sessionList]="sessionList"
      [chartData]="chartData"
    ></app-syllabus-card>
  </div>
</div>

<!-- Before starting sidebar -->
<p-sidebar
  [(visible)]="visibleSidebar"
  [fullScreen]="true"
  [showCloseIcon]="false"
  [baseZIndex]="10000"
>
  <app-before-starting></app-before-starting>

  <div class="d-flex justify-content-center pb-5">
    <p-button
      label="Empezar pase"
      icon="pi pi-play"
      class="btn-save"
      styleClass="w-100 p-button-lg"
      (click)="playLesson($event)"
    ></p-button>
  </div>
</p-sidebar>
