<div *ngIf="session" class="card-syllabus d-flex">
  <!-- Text -->
  <div class="mr-2">
    <h3 class="card-syllabus-title mb-0">{{ session?.name }}</h3>
    <p class="card-syllabus-subtitle mb-0">
      {{ session?.done }}/{{ session?.lessons?.length }} sesiones
    </p>
  </div>
  <!-- Chart -->
  <div class="d-flex align-items-center">
    <p-chart
      *ngIf="!session.completed; else iconTemplate"
      type="pie"
      [data]="chartData"
      [responsive]="true"
      [maintainAspectRatio]="false"
      [height]="'48px'"
      [width]="'58px'"
    ></p-chart>
    <!-- Completed -->
    <ng-template #iconTemplate>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-button-rounded check mx-1"
        style="height: 40px; width: 40px"
      ></button>
    </ng-template>
  </div>
</div>
