<div class="d-flex pt-3 card-syllabus">
  <p-card
    *ngFor="let trimester of sessionList; let i = index"
    class="pb-4 pr-4"
  >
    <div class="mr-2">
      <h3 class="card-syllabus-title mb-0">{{ trimester?.name }}</h3>
      <p class="card-syllabus-subtitle mb-0">
        {{ trimester?.done }}/{{ trimester?.lessons?.length }} sesiones
      </p>
    </div>
    <div class="d-flex align-items-center">
      <!-- TODO: check icon -->
      <p-chart
        *ngIf="!sessionList[i].completed; else iconTemplate"
        type="pie"
        [data]="chartData[i]"
        [responsive]="true"
        [maintainAspectRatio]="false"
        [height]="'48px'"
        [width]="'58px'"
      ></p-chart>

      <ng-template #iconTemplate>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-check"
          class="p-button-rounded check mx-1"
          style="height: 40px; width: 40px"
        ></button>
      </ng-template>
    </div>
  </p-card>
</div>
